#!name=📺 BiliBili: 🧰 Enhanced
#!desc=哔哩哔哩：增强模式                              （界面自定义及功能增强）
#!openUrl=http://boxjs.com/#/app/BiliBili.Enhanced
#!author=VirgilClyne
#!homepage=https://github.com/VirgilClyne
#!manual=https://github.com/VirgilClyne/BiliBili/wiki/🧰-Enhanced
#!icon=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/bilibili.png

#[Script]
# BiliBili.Enhanced.x.resource.show.tab.v2
^https?:\/\/app\.bili(bili|api)\.(com|net)\/x\/resource\/show\/tab\/v2(\?.+)?$ url script-response-body https://raw.githubusercontent.com/VirgilClyne/BiliBili/main/js/BiliBili.Enhanced.response.js

#[MITM]
hostname = app.bilibili.com, app.biliapi.net, app.biliintl.com
